*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

:root{
    --label-icon:url("https://caelum-online-public.s3.amazonaws.com/1369-alura-mais-dark-mode/lua.png");
    --fundo-cor:linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);    
}

.dark-mode{
    --label-icon:url("https://cdn3.iconfinder.com/data/icons/meteocons/512/sun-symbol-512.png");
    --fundo-cor:black;
    transition: 2s;
}

.muda-tema{
    background: var(--label-icon);
    background-size: 25px;
    padding: 22px;
    position: relative;
    left: 40px;
    background-color: whitesmoke;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    border: 2px solid black;
    border-bottom: 7px solid black;
    cursor: pointer;
}

body{
    background: var(--fundo-cor);
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
}

.muda-tema:hover{
    background-color: rgb(216, 211, 211);
}

#btn{
    display: none;
}

.titulo{
    display: flex;
    justify-content:center;

    align-items:center;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.formulario{
    display: block;
    color: aliceblue;
}

label{
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin-bottom: 2px;;
}

input{
    border-radius: 5px;
    border: none;
    padding: 10px 2em;
    box-sizing: border-box;
    font-size: 15px;
    margin-bottom: 5px;
}

.adicionar{
    margin-left: 5px;
    background-color: rgb(51, 51, 240);
    color: aliceblue;
    font-size: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.adicionar:hover{
    background-color: rgb(81, 81, 244);
}

.adicionar:active{
    background-color: blue;
}

.nome{  
    margin-top: 5px;
    color: aliceblue;
    background-color: blueviolet;
    padding: 10px;
}

.principal{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.container{
    display: flex;
    justify-content: center;
}

.lista{
    list-style: none;
    display: block;
}

.nome{
    padding: 20px 50px 20px 50px;
    font-weight: 800;
    font-size: 20px;
    border-radius: 5px;
}

.botao_deleta{
	background-color: red;
    color: aliceblue;
    font-weight: 700;
	margin-left: 200px;
    padding: 5px 10px 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#mensagem__erro{
    color:red;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
}

.fadeOut{
    opacity: 0;
    transition: 0.3s;
}

@media screen and (max-width: 440px) {
    body{
        padding-right: 45px;
        padding-left: 30px;
    }

    .titulo{
        font-size: 20px;
    }

    .nome{
        display: flex;
        align-items: center;
        margin-left: 12px;   
    }

    .muda-tema{
        left: 20px;
    }
}